*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}


.top_head {
    position: relative;
    height: 150px;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 20px;
    border: 1px dashed #DCDCDC;
    border-radius: 50px;
    margin-top: 5px;
}

h1 #title_top {
    color: #4682B4;
    font-size: 50px;
}

.menu{
    border: 1px dashed #DCDCDC;
    border-radius:50px;
    height: 35px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
h2 #title_post {
    color: #4682B4;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    }

p {
    font-size: 15px;
}


#date{
    font-size: 10px;
}

.post{
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}
#post_text{
    text-align: justify;
}

#colunas{
    padding-top: 10px;
}
#box_left, #box_right{
    border: 1px dashed #DCDCDC;
    border-radius:50px;
    min-height: 500px;
    padding: 50px;
    text-align: center;
    color: #4682B4;
}
#postagem {
    border-bottom: 1px dashed #DCDCDC;
    border-top: 1px dashed #DCDCDC;
    border-radius:50px;
    margin-bottom: 10px;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
}