*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}


.top_head {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: #4682B4;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding: 20px;
}

h1 #title_top {
    color: #FFFFFF;
    font-size: 50px;
}


h2 #title_post {
    color: #4682B4;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    }

p {
    font-size: 15px;
}


#date{
    font-size: 10px;
}

.post{
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}
#post_text{
    text-align: justify;
}
#box_left{
    background: #0000FF;
    border: 30px solid #000000;
    
}
#box_center{
    background: #fff000;
}
#box_right{
    background: #00FF00;
}