body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}

body{
    margin:0;
    padding: 0 0 0 0%;
    line-height: 1.5;
    background: #ffffff;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.row{
    margin: 0;
    padding:0;
}
#coluna-conteudo{
    padding: 0 0 0 1%;
    margin: 0;
}
#navega{
    z-index: 3;
    padding: 0;
}
@media screen and (max-width: 1080px){
    #mysidebar{
        position: relative;
        background: #fff;
        width: 100%;
        text-align: center
    }
    #links-topo{
        padding-top: 0;
        text-align: center
    }
    .nav-button{
        display: inline-block;
        height:30px;
        width: 32%;
        margin:auto;
        line-height: 30px;
        text-decoration:none;
    }
    .postagem-block{
        float:left;
        border-radius: 13%;
        width: 47%;
        height: 60%;
        opacity: 0.7;
        margin: 0.5%;
        overflow:hidden;
    }
    #content-post{
        display: flex
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f1f1f1;
    }
    #about{
        background:#757575;
        text-align: center;
        padding: 15px 0 40px 0
        margin: 0;
        color:#fff;
    }
    #about-esq{
        padding: 0px;
        text-align: center;
    }
    #contato{
        background: #f1f1f1;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 15px;
    }
    #post_details{
        text-align: center;
        padding: 40px 0px 0px 0px;
        background: #f1f1f1;
    }
    #video-post{
        text-align: center;
        border: 1px dashed #bebebe;
        border-radius: 10%;
        padding: 1%;
        width: 80%;
        height: 400px;
    }
    #title-post{
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 0;
        font-size: 220%;
    }
    #letra-post{
        text-align: center;
        line-height: 1.3;
        font-size: 250%;
        padding-right: 0;
    }
    #cifra-post{
        line-height: 1.3;
        font-size: 10px;
        margin-bottom: 20px;
    }
    #autoria-post{
        font-size: 10px;
        margin-top: 50px;
    }

    #creditos-post{
        font-size: 10px;
        margin-top: 10px;
        float: left;
    }

    .iconredes-post{
        width: 50px;
        height: 50px;
        padding: 10px;
        float: right;
        margin-top: 0px;
        filter: contrast(0%);
        opacity: 0.7;
    }
}

@media screen and (min-width: 1080px){
    #mysidebar {
        position: relative;
        background: #fff;
        height: 100%;
        width: 100%;
        text-align:center;
        padding-top: 70px;
    }
    #links-topo{
        padding-top: 50%;
    }
    .nav-button{
        display: block;
        width:100%;
        height:30px;
        margin:0px;
        float:none;
        line-height: 30px;
        text-decoration:none;
    }
    .postagem-block{
        float:left;
        border-radius: 13%;
        width: 29%;
        height:400px;
        opacity: 0.7;
        margin: 0.5%;
        overflow:hidden;
    }
    #content-post{
        text-align: center;
        background-color: #f1f1f1;
        padding-left: 5%;
        margin-right: 0;
        padding-right: 0;
    }
    #about{
        background:#757575;
        min-height:300px;
        text-align: justify;
        padding: 15px 0 40px 0;
        color:#fff;
    }
    #about-esq{
        padding: 0 0 0 50px;
        text-align: center;
    }
    #contato{
        background: #f1f1f1;
        min-height:300px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 15px;
    }
    #post_details{
        padding: 40px 0px 0px 5%;
        background: #f1f1f1;
    }
    #video-content{
        float: right;
        text-align: left;
    }
    #letra-content{
        float: left;
        text-align: center;
        padding: 0%;
    }
    #creditos-content{
        float: right;
        padding-left: 5%;
    }

    #video-post{
        border: 1px dashed #bebebe;
        border-radius: 10%;
        padding: 1%;
    }
    #title-post{
        font-weight: 300;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 0;
    }
    #letra-post{
        line-height: 1.3;
        font-size: 13px;
    }
    #cifra-post{
        line-height: 1.3;
        font-size: 10px;
        margin-bottom: 20px;
    }
    #autoria-post{
        font-size: 10px;
        margin-top: 50px;
        text-align: center;
        opacity: 0.8;
    }

    #creditos-post{
        font-size: 10px;
        margin-top: 10px;
    }

    .iconredes-post{
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-top: 0px;
        filter: contrast(0%);
        opacity: 0.7;
    }
}

#mysidebar a, h3{
    font-weight: 400;
    color: #757575
}
#mysidebar h4{
    font-size:15px;
}
#mysidebar h3{
    font-size:17px;
}
#mysidebar a{
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
}
#mysidebar a:hover{
    text-decoration:none;
    color:#000;
    background-color:#ccc;
}
#mysidebar a:visited{
    text-decoration:none;
    color:none;
}
#mysidebar a:active{
    text-decoration:none;
    color: none;
}

.postagem-block:hover{
    transition: linear 2s;
    opacity: 1;
}

.img-post{
    height:100%;
    width:100%;
}

.img-about{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.8;
}
.img-about:hover{
    opacity: 1;
    transition: opacity 1.5s;
}
#about-conteudo{
    margin-top: 25px;
}

#paginator{
    background: #f1f1f1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: bolder;
    font-size: 15px;
}

.iconredes-post:hover{
    filter: contrast(100%);
    opacity: 1;
}