{% load static %}
<html>
    <head>
        <!----------------------   bootstrap   ------------------->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!----------------------   linkando css   ------------------->
        <link rel="stylesheet" href="{% static 'css/hobby.css' %}">

        <!----------------------   fontes   ------------------->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cuprum&display=swap" rel="stylesheet">


        <title>Hobby</title>
    </head>

    <body>
        <div class="top_head">
                <h1 class="title_top"><a id="title_top" href="/">Meu passatempo</a></h1>
            </div>
        <div class="container-fluid">
            <div class="block">aaa</div>
            <div class="row">
                <div class="col col-sm-3">
                    <div class="box_left">box esquerda</div>
                </div>
                <div class="col col-sm-6" id="box_center">
                    {% for post in posts %}
                        <div class="post">
                            <h2><a id="title_post" href="">{{ post.title }}</a></h2>
                            <p id="date">publicado em :{{ post.published_date }}</p>
                            <p id="post_text">{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col col-sm-3">
                    <div class="right" id="box_right">box direita</div>
                </div>
            </div>
        </div>
    </body>
</html>