<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>Sobre Mim...</h1>
<img src='img1.jpg' alt="Foto de Perfil" width="350" height="350" >
<p>Olá, Meu nome é Sóstenes Melo Vitoriano da Silva, popularmente conhecido como Sóstenes.</p><p> Graduando em <b>Engenharia Elétrica</b> pela <b>UFRPE</b>, nas horas vagas tem como maior hobby a música.</p>
<p>Com natalidade na cidade de Cupira(PE), atualmente divide sua residência entre a cidade do Cabo de Santo Agosinho, onde se ocupa de atividades profissionais, e no interior do estado, na cidade de Cortês, onde namora uma adorável garota chamada Emilly Camila.</p>
</body>
</html>