<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <!----------------------   bootstrap   ------------------->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!----------------------   linkando css   ------------------->
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <script src="{% static 'js/principal.js' %}"></script>
    <!----------------------   fontes   ------------------->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" id="geral">
        <div class="row" id="content">
            <div class="col-sm-2" id="navega">
                <nav id="mysidebar">
                    <div id="texto-topo">
                        <h4 id="prof">Profile</h4><h3><b>SÓSTENES SILVA</b></h3>
                    </div>
                    <div id="links-topo">
                        <a class="nav-button" href="/">HOME</a>
                        <a class="nav-button" href="#about">ABOUT</a>
                        <a class="nav-button" href="#contato">CONTATO</a>
                    </div>
                </nav>
            </div>
            <div class="col-sm-10">
                {% block post-home %}
                {% endblock %}
        
                {% block post-details %}
                {% endblock %}
        
                {% block about %}
                {% endblock %}
        
                {% block contato %}
                {% endblock %}
        
                {% block info %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>