<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <!----------------------   bootstrap   ------------------->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!----------------------   linkando css   ------------------->
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <script src="{% static 'js/principal.js' %}"></script>
    <!----------------------   fontes   ------------------->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <nav class="mysidebar">
        <div id="texto-topo">
            <h4 id="prof">Profile</h4><h3><b>SÓSTENES SILVA</b></h3>
        </div>
        <div id="links-topo">
            <a class="nav-button" href="/">HOME</a>
            <a class="nav-button" href="#about">ABOUT</a>
            <a class="nav-button" href="#contato">CONTATO</a>
        </div>
    </nav>
    <div class="container-fluid" id="container-postagens">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container-fluid" id="paginator">
        <span>
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}"><<</a>
            {% endif %}
            <span id="pag-atual">
                {{ posts.number }} de {{ posts.paginator.num_pages }}
            </span>
            
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">>></a>
            {% endif %}
        </span>

    </div>
    <div class="container-fluid" id="about">
        <h4><center><b>About Me</b></center></h4>
        <div class="row" id="about-conteudo">
            <div class="col-3 col-sm-3" id="about-esq">
                <img class="img-about" id="img-about" src="/static/imgabout.jpg" alt="foto de perfil do autor" width="200px" height="200px">
            </div>
            <div class="col-9 col-sm-9">
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
                <p>Descrição breve sobre quem sou eu, como entrar em contato, quem me inspira, etc</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="contato">
        <h4>CONTATO</h4>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
        <p>Espaço reservado para divulgação dos contatos como redes sociais, email, telefone e afins.</p>
    </div>
    <div class="container-fluid" id="info">
        <div class="row">
            <div class="col-4 col-sm-4">
                <h4>INFO</h4>
                <p>informações pertinentes ao site, autor, conteúdo, etc.</p>
            </div>
            <div class="col-4 col-sm-4">
                <h4>VIEWS</h4>
                <p>informações estatísticas do site, postagens, mensagens, conteúdo, etc.</p>
            </div>
            <div class="col-4 col-sm-4">
                <h4>CREDITS</h4>
                <p>reservado aos créditos, agradecimentos e considerações finais do autor.</p>
            </div>
        </div>
    </div>
</body>
</html>