{% extends 'principal/base.html' %}
{% block content %}
        <div class="row">
            {% for post in posts %}
                <div class="col col-sm">
                        <a href="{% url 'post_detail' pk=post.pk %}">
                        <div id="postagem-block" class="postagem-block">
                                <img id="img-post" class="img-post" src="/media/{{ post.foto }}/">
                        </div></a>
                </div>
            {% endfor %}
        </div>
{% endblock %}