{% extends 'principal/base.html' %}

{% block post-details %}
<div class="container-fluid" id="post_details">
    <h3 id="title-post">{{ post.title }}</h3>
    <div class="row">
        <div class="col-7 col-sm-7">
            <p id="cifra-post">{{ post.cifra|linebreaksbr }}</p>
            <p id="letra-post">{{ post.letra|linebreaksbr }}</p>
        </div>
        <div class="col-5 col-sm-5">
            <!--<iframe id="video-post" width="400" height="225" src="https://www.youtube.com/embed/{{ post.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            --><p id="creditos-post">{{ post.creditos|linebreaksbr }}</p>
            <img class="iconredes-post" src="/static/iconwhats.png" alt="whatsapp"><img class="iconredes-post" src="/static/iconinsta.png" alt="instagram"><img class="iconredes-post" src="/static/iconface.png" alt="facebook">
        </div>
    </div>
<p id="autoria-post">{{ post.author }}, {{ post.published_date }}.</p>
</div>
{% endblock %}